---
http_interactions:
- request:
    method: post
    uri: https://sign.test.cryptolog.com/sign/rpc/
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" ?><methodCall><methodName>requester.getTransactionInfo</methodName><params><param><value><string>0ece5074-2273-491e-9315-9b1d1f0bbba8</string></value></param></params></methodCall>

'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Authorization:
      - Basic ZGV2ZWxvcG1lbnRAY2Fwc2Vucy5ldTplb0JGakhuYjI4WXA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><methodResponse><params><param><value><struct><member><name>signerInfos</name><value><array><data><value><struct><member><name>firstName</name><value><string>Signer's
        first name</string></value></member><member><name>lastName</name><value><string>Signer's
        last name</string></value></member><member><name>certificateInfo</name><value><struct><member><name>serial</name><value><string></string></value></member><member><name>subject</name><value><string></string></value></member><member><name>issuer</name><value><string></string></value></member></struct></value></member><member><name>actionDate</name><value><dateTime.iso8601>20180925T16:28:44</dateTime.iso8601></value></member><member><name>url</name><value><string>https://sign.test.universign.eu/fr/signature/?id=460ffa85-492f-48b1-975d-aa453b7a068b</string></value></member><member><name>status</name><value><string>signed</string></value></member></struct></value></data></array></value></member><member><name>currentSigner</name><value><i4>0</i4></value></member><member><name>eachField</name><value><boolean>0</boolean></value></member><member><name>creationDate</name><value><dateTime.iso8601>20180925T16:14:48</dateTime.iso8601></value></member><member><name>signerCertificates</name><value><array><data><value><struct><member><name>serial</name><value><string></string></value></member><member><name>subject</name><value><string></string></value></member><member><name>issuer</name><value><string></string></value></member></struct></value></data></array></value></member><member><name>initiatorInfo</name><value><struct><member><name>firstName</name><value><string>CapSens</string></value></member><member><name>lastName</name><value><string>CapSens</string></value></member><member><name>email</name><value><string><UNIVERSIGN_LOGIN></string></value></member></struct></value></member><member><name>transactionId</name><value><string>0ece5074-2273-491e-9315-9b1d1f0bbba8</string></value></member><member><name>status</name><value><string>completed</string></value></member></struct></value></param></params></methodResponse>
  recorded_at: Tue, 25 Sep 2018 16:29:11 GMT
recorded_with: VCR 4.0.0
